<table class="table">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Valor comercial</th>
            <th>Valor de alquiler diario</th>
            <th>status</th>
            <th>Frecha de Creacion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{car.id}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.model}}</td>
            <td>{{car.commercial_value}}</td>
            <td>{{car.daily_rental_value}}</td>
            <td>{{car.available}}</td>
            <td>{{car.created_at}}</td>
            <td><a (click)="deleteCar()" class="btn btn-danger">Borrar</a>  <a href="/update/{{car.id}}" class="btn btn-primary">Editar</a></td>
        </tr>
    </tbody>
</table>
