<div class="card text-center">
    <div class="card-header">
      CarMed
    </div>
    <div class="card-body">
      <h5 class="card-title">Alquiler de autos medellin</h5>
      <p class="card-text">Sitio administrativo de adquiler de autos.</p>
      <a href="/create" class="btn btn-primary" style="margin-left: 15px; margin-right: 15px;">Crear auto</a>
      <a href="/list" class="btn btn-primary">Listar Autos</a>
    </div>
    <div class="card-footer text-muted">
      2021
    </div>
  </div>
